<div class="row author">
	<div class="col-md-6">
		<div class="row">
		  <h2>Autor</h2>
		</div>
		<div class="row">
		  David Baldazo Escriña
		</div>
		<div class="row">
		  <img src="https://res.cloudinary.com/dmx0we4ia/image/upload/c_scale,w_199/v1464258651/imagen_alumno_nxxdgr.jpg" height="100px">
		</div>
	</div>
	<div class="col-md-6">
		<div class="row">
		  <p>Vídeo de presentación de la primera versión de Quiz:</p>
		  <video src="https://res.cloudinary.com/dmx0we4ia/video/upload/v1464022412/presentacion_quiz_uhnfjz.mp4" height="200px" autoplay loop controls></video>
		</div>
	</div>
</div>




