<p>
  Autor: David Baldazo Escriña
</p>
<img src="/images/imagen_alumno.jpg" height="100px">
<video src="https://res.cloudinary.com/dmx0we4ia/video/upload/v1464022412/presentacion_quiz_uhnfjz.mp4" height="100px" autoplay loop controls></video>
