<h2>Quiz</h2>
<h2><small>El juego de las preguntas</small></h2>
<p>En este portal podrá responder a las preguntas formuladas por otros jugadores. Si se registra como usuario, también tendrá la posibilidad de dejar comentarios en las preguntas, acceder a una lista de sus preguntas favoritas y crear sus propias preguntas.</p>
<p><b>Quiz</b> dispone de un bot de Telegram al que puede acceder pulsando <a href="https://telegram.me/dBaldazoQuizBot">aquí</a> o buscando <a href="#">@dBaldazoQuizBot</a> en la aplicación.</p>
