
<div class="row statistics">
	<h2> Estadísticas </h2>

	<p>Preguntas: <%= statistics.no_quizzes %></p>
	<p>Usuarios: <%= statistics.no_users %></p>
	<p>Comentarios: <%= statistics.no_comments %></p>
</div>