body {
  background: #eee;  
}

footer .row {
  background-color: grey;
  color: white;
}

body > footer a {
  color: white;
}

.quiz {
  border-radius: 4px;
  background-color: white;
  margin: 5px;
  padding-top: 3px;
  padding-bottom: 3px; 
}

.user {
  border-radius: 4px;
  background-color: white;
  margin: 5px;
  height: 50px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.quiz-img img {
  margin-bottom: 10px;
}

.row-xs-flex-center {
    display:flex;
    align-items:center;
}
@media ( min-width:768px ) {
    .row-sm-flex-center {
        display:flex;
        align-items:center;
    }
}
@media ( min-width: 992px ) {
    .row-md-flex-center {
        display:flex;
        align-items:center;
    }
}
@media ( min-width: 1200px ) {
    .row-lg-flex-center {
        display:flex;
        align-items:center;
    }
}

.wrapper {  
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
  }

  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.stars {
  float: left;
  clear: both;  
}

.quizImage {
  height: 50px;
  float: center;
}

#logoutTime {
  font-family: "Courier New", Courier, monospace;
}