body {
  background: #eee;  
}

footer.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 40px;
}

footer .row {
  background-color: grey;
  color: white;
  padding-top: 10px;
}

body > footer a {
  color: white;
}

.row {
  margin: 0px;
}

.navbar-top {
  border-radius: 0px;
}

.quiz {
  border-radius: 4px;
  background-color: white;
  margin: 5px;
  padding-top: 3px;
  padding-bottom: 3px; 
}

.user {
  border-radius: 4px;
  background-color: white;
  margin: 5px;
  height: 50px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.me {
  background-color: #f4fff4;
}

.active-color a{
  color: blue !important;

}

.comments {
  background-color: #fff;
  margin: 10px;
}

.comments-new {
  margin-bottom: 10px;
}

.comment {
  border-top: 1px;
  border-top-style: solid;
  padding: 10px;
}

.accepted-comment {
  background-color: #f4fff4;
}

.pending-comment {
  background-color: #fff4f4;
}

.new-comment {
  margin-bottom: 20px;
}

.quiz-img img {
  margin-bottom: 10px;
}

.row-xs-flex-center {
    display:flex;
    align-items:center;
}
@media ( min-width:768px ) {
    .row-sm-flex-center {
        display:flex;
        align-items:center;
    }
}
@media ( min-width: 992px ) {
    .row-md-flex-center {
        display:flex;
        align-items:center;
    }
}
@media ( min-width: 1200px ) {
    .row-lg-flex-center {
        display:flex;
        align-items:center;
    }
}

.wrapper {  
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin, .form-question, .form-comment, .form-user {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
}

.form-question {
  max-width: 600px;
}

.login-user {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.login-password {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.stars {
  float: left;
  clear: both;  
}

.quizImage {
  height: 50px;
  float: center;
}

#logoutTime {
  font-family: "Courier New", Courier, monospace;
}