body {
  background: grey;
}

.title {
  background: #2D5811;
  background-image: linear-gradient(to bottom,#2D5811 0,#447B20 100%);
}

.main {
  background: #eee;
  padding-bottom: 40px;
}

footer.container {
  padding-left: 0px;
  padding-right: 0px;
  }

footer .row {
  max-width: 1200px; 
  color: white;
  padding-top: 10px;
}

body > footer a {
  color: white;
}

.row {
  margin: 0px;
}

.navbar-top {
  border-radius: 0px;
}

.navbar-default .navbar-nav  .active-color > a {
  color: blue;
}

.navbar-default .navbar-nav  li > a:hover {
  color: green;
}

.quiz, .comments-comment {
  min-height: 50px;
  border-radius: 8px;
  background: white;
  margin: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075); 
}

.user {
  border-radius: 8px;
  background: white;
  margin: 5px;
  min-height: 50px;
  padding-top: 3px;
  padding-bottom: 3px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
}

.comments, .question-show, .answer-show, .statistics, .index, .user-profile, .author {
  background: #fff;
  margin: 10px 0px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
  padding: 10px;
  padding-bottom: 20px;
}

 .user-profile, .author, .statistics {
  margin-bottom: 20px;
}

.question-show {
  padding-bottom: 0px;
}

.comments {
  padding: 0;
}

.comments-new {
  margin-bottom: 10px;
}

.comment {
  border-top: 1px;
  border-top-style: solid;
  border-color: rgba(153, 153, 153, 0.5);
  padding: 10px;
}

.accepted-comment {
  background: #f4fff4;
  background-image: linear-gradient(to bottom,#f4fff4 0,#e0ffe0 100%);
}

.pending-comment {
  background: #fff4f4;
  background-image: linear-gradient(to bottom,#fff4f4 0,#ffe0e0 100%);
}

.new-comment {
  margin-bottom: 20px;
}

.quiz-img img {
  margin-bottom: 10px;
}

.row-xs-flex-center {
    display:flex;
    align-items:center;
}

.wrapper {  
  margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin, .form-question, .form-comment, .form-user, .form-answer {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid rgba(0,0,0,0.1);  
}

.form-question {
  max-width: 600px;
}

.login-user {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.login-password {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.quizImage {
  height: 50px;
}

.quiz-info p {
  font-size: xx-small;
  float: right;
  color: #999;
}

.me {
  background: #f4fff4;
  background-image: linear-gradient(to bottom,#f4fff4 0,#e0ffe0 100%);
}

#answer {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

#check {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

#response {
  min-height: 30px;
  margin: 10px;
}

#logoutTime {
  font-family: "Courier New", Courier, monospace;
}

@media ( max-width:767px ) {
    .users-new, .user .btn, .quizzes-new, .search, .quiz .btn-group {
      margin-bottom: 5px;
      margin-top: 5px;
    }
}

@media ( min-width:768px ) {
    .row-sm-flex-center {
        display:flex;
        align-items:center;
    }
    .users-new, .user .btn {
      margin-bottom: 0px;
    }
}
@media ( min-width: 992px ) {
    .row-md-flex-center {
        display:flex;
        align-items:center;
    }
}
@media ( min-width: 1200px ) {
    .row-lg-flex-center {
        display:flex;
        align-items:center;
    }
}