<div class="wrapper">
	<h2 class="form-heading">
	  Editar la pregunta 
	</h2>

	<form method="post" class="form-question" action="/quizzes/<%= quiz.id %>?_method=PUT" enctype="multipart/form-data">      
	  <% include _form.ejs %>
	</form>
</div>