<div class="wrapper">
	<h2 class="form-heading">
	  Añadir pregunta 
	</h2>

	<form method="post" class="form-question" action="/quizzes" enctype="multipart/form-data">      
	  <% include _form.ejs %>
	</form>
</div>