<div class="wrapper">
	<h2 class="form-heading">
	  Editar usuario
	</h2>

	<form method="post" class="form-user" action="/users/<%= user.id %>?_method=PUT">      
	  <% include _form.ejs %>
	</form>
</div>
