<div class="wrapper">
	<h2 class="form-heading">
      Crear usuario
	</h2>

	<form method="post" class="form-user" action="/users" enctype="multipart/form-data">      
	  <% include _form.ejs %>
	</form>
</div>